asgiref==3.7.2
Django==3.2.22
django-autoslug==1.9.9
django-debug-toolbar==3.8.1
django-jazzmin==2.6.0
django-test==0.4030
psycopg2==2.9.9
python-decouple==3.8
pytz==2023.3.post1
sqlparse==0.4.4
typing-extensions==4.7.1
