{% extends 'devblog/base.html' %}

{% block title %}Post-{% endblock title %}

{% block content %}

<div>
    <h1>{{post.title}}</h1>
    <p>{{post.body}}</p>
    {% for tag in tags %}
        <h5>{{tag.name}}</h5>
    {% endfor %}
    <div>
        <p><a href="{% url 'blog:post_share' post.id %}">Share Post Via E-mail</a></p>
    </div>
    <div>
        {% with comments.count as total_comments %}
            <h3>{{total_comments}} comment{{total_comments|pluralize}} </h3>
        {% endwith %}
    </div>

    <div>
        <h3>Similar Posts</h3>
        {% for sim_post in similar_posts %}
            <p><a href="{% url 'blog:post_detail' sim_post.id %}">{{sim_post.title}}</a></p>
        {% endfor %}
        {% empty %}
        <p>There are no similar posts yet</p>
    </div>
    <div>
        {% for comment in comments %}
            <p>{{comment.title}}</p>
            <p>{{comment.body}}</p>
        {% endfor %}
    </div>
    {% include 'devblog/posts/includes/comment_form.html' %}
</div>



{% endblock content %}